:root {
  --main-width: calc(100rem);
  --sidebar-width: calc(30rem);
  --grid-gap: 3rem;
  --grid-width: calc(var(--main-width) + var(--sidebar-width) + var(--grid-gap))
}
html {
  font-family: 'IBM Plex Sans JP', sans-serif;
  font-weight: 450;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
}
body {
  max-width: var(--main-width); 
}
.justify-content-center {
  text-align: center
}

#site-header {
  margin-bottom: 4rem;
}
main > :first-child, main > :first-child h2.blog-post-title, h1.blog-post-title {
  margin-top: 0;
}
.blog-summary {
  margin: 4rem 0 3rem 0;
}
a:hover {
  border: none;
  text-decoration: underline currentColor solid;
  text-decoration-thickness: 2px;
}
#site-header a,
#site-sidebar a,
.blog-summary a,
h2.blog-post-title a {
  color: inherit;
}
#site-header img {
  margin: 0;
  width: 1.2em;
  vertical-align: text-bottom;
}
p img {
  margin: 0;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: inherit;
  padding: inherit;
}

#TOC {
  margin: 3rem;
}

summary h4 {
  display: inline-block;
  margin: 0;
}
details[open] summary h4 {
  margin-bottom: 1.5rem;
}

footer nav, .blog-pagination {
  margin: 2.5rem 0;
}
footer nav ul, .pagination {
  list-style: none;
  padding: 0;
}
footer nav li, .page-item {
  display: inline-block;
}
.page-item, .page-item.disabled:hover {
  text-align: center;
  border: solid 1px #ccc;
  background-color: transparent; 
}
.page-item:hover {
  background-color: #eee 
}
.page-item.active {
  background-color: #ddd
}
.page-link {
  display: block;
  padding: 0.5rem 1rem;
}
a.page-link {
  color: inherit;
  border: none;
}

@media print {
  #site-sidebar, #site-footer {
    display: none;
  }
}


@media screen and (min-width: calc(133rem / 1.5)) {
  body {
    max-width: var(--grid-width);
    padding: 13px 0;
    display: grid;
    grid-template-areas: "head head" "main side" "foot side";
    grid-template-columns: var(--main-width) var(--sidebar-width);
    grid-template-rows: auto auto 1fr;
    grid-column-gap: var(--grid-gap);
  }
  #site-header {
    width: var(--grid-width);
    grid-area: head;
  }
  main {
    grid-area: main;
  }
  #site-footer {
    grid-area: foot
  }
  #site-sidebar {
    grid-area: side;
  }
}