body {
  max-width: 960px;
}
.justify-content-center {
  text-align: center
}

.blog-pagination, footer nav {
  margin: 2.5rem 0;
}
.pagination, footer nav ul {
  list-style: none;
  padding: 0;
}
.pagination li, footer nav li {
  display: inline
}

