html {
  font-family: 'IBM Plex Sans JP', sans-serif;
  font-weight: 450;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
body {
  max-width: 56em; 
}
.justify-content-center {
  text-align: center
}

.blog-summary {
  margin: 6rem 0 3rem 0;
}
a:hover {
  border: none;
  text-decoration: underline currentColor solid;
  text-decoration-thickness: 2px;
}
#site-header a,
#site-sidebar a,
.blog-summary a,
h2.blog-post-title a {
  color: inherit;
}
#site-header img {
  margin: 0;
  width: 1.2em;
  vertical-align: text-bottom;
}
p img {
  margin: 0;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: inherit;
  padding: inherit;
}

#TOC {
  margin: 3rem;
}

footer nav, .blog-pagination {
  margin: 2.5rem 0;
}
footer nav ul, .pagination {
  list-style: none;
  padding: 0;
}
footer nav li, .page-item {
  display: inline-block;
}
.page-item, .page-item.disabled:hover {
  text-align: center;
  border: solid 1px #ccc;
  background-color: transparent; 
}
.page-item:hover {
  background-color: #eee 
}
.page-item.active {
  background-color: #ddd
}
.page-link {
  display: block;
  padding: 0.5rem 1rem;
}
a.page-link {
  color: inherit;
  border: none;
}

@media print {
  #site-sidebar, #site-footer {
    display: none;
  }
}
