{{- $sakura := resources.Get "css/sakura.scss" | resources.ToCSS (dict "outputStyle" "compressed"  "enableSourceMap" true ) | resources.Fingerprint -}}
<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>
      {{- block "title" . -}}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{- end -}}
    </title>

    <link href="{{ $sakura.RelPermalink }}" rel="stylesheet">

    {{ with .OutputFormats.Get "RSS" }}
    <link href={{ .RelPermalink }} rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}

    {{ if or (.IsHome) ($.Param "math") }}
      {{ partial "head-math" . }}
    {{ end }}

    {{ partial "head-highlightjs" . }}
    {{ partial "head-custom.html" . }}

    {{ template "_internal/google_analytics_async.html" . }}
  </head>
  <body>
    <header id="site-header"> 
    {{ partial "header" . }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <aside id="site-sidebar">
      {{ partial "sidebar" . }}
    </aside>
    <footer id="site-footer">
      {{ partial "footer" . }}
    </footer>
  </body>
</html>
