<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>
      {{- block "title" . -}}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{- end -}}
    </title>

    {{ $sakura := resources.Get "css/sakura.scss" | resources.ToCSS (dict "outputStyle" "compressed"  "enableSourceMap" true ) | resources.Fingerprint }}
    {{ $plex := resources.Get "css/ibm-plex-sans-jp/index.scss" | resources.ToCSS (dict "outputStyle" "compressed"  "enableSourceMap" true ) | resources.Fingerprint }}
    <link href="{{ $sakura.Permalink | relURL }}" rel="stylesheet">
    <link href="{{ $plex.Permalink | relURL }}" as="style" rel="preload">

    {{ with .OutputFormats.Get "RSS" }}
    <link href={{ .RelPermalink }} rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}

    {{ partial "head-custom.html" . }}

    {{ template "_internal/google_analytics_async.html" . }}
  </head>
  <body>
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}

    {{ block "body" . }}
    <main>
      {{ block "main" . }}
      {{ end }}
    </main>
    <aside id="site-sidebar">
      {{ partial "sidebar.html" . }}
    </aside>
    {{ end }}

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

  </body>
</html>
