$color-blossom: #1d7484;
$color-fade: #982c61;

$color-bg: #f9f9f9;
$color-bg-alt: #f1f1f1;

$color-text: #4a4a4a;
$font-size-base: 1.8rem;

$font-family-base: "IBM Plex Sans JP", sans-serif;
$font-family-heading: inherit;

$width-main: 100rem;
$width-side: 30rem;
$width-gap: 3rem;
$width-grid: $width-main + $width-side + $width-gap;
$min-width-screen: $width-grid / 1.5 ;

@import "ibm-plex-sans-jp/index.scss";
@import "main";
@import "custom";
