{{ if default true .Site.Params.sidebar.showShare }}
    {{ partial "share" . }}
{{ end }}

<h4>著書</h4>
<p>
<a href="https://gihyo.jp/book/2022/978-4-297-12524-0" target="_blank">
<img src="https://gihyo.jp/assets/images/cover/2022/thumb/TH320_9784297125240.jpg">
</a>
</p>

{{ if default true .Site.Params.sidebar.showRecent }}
    {{ partial "recent" . }}
{{ end }}

{{ if .IsPage }}
    {{ partial "related" . }}
{{ else }}
    {{ if default true .Site.Params.sidebar.showTaxonomy }}
        {{ partial "taxonomies" . }}
    {{ end }}
    <hr>
    <p>
      <a href="/privacy-policy/">Privacy policy</a>
    </p>
{{ end }}
